<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Tracking Error</title>
  <link rel="stylesheet" href="/track.css" />
</head>
<body>
  <div class="card">
    <h1>Order Tracking</h1>
    <p class="error"><%= message %></p>
  </div>
</body>
</html>
